/******
shinymodels
*******/

/*-------- Google font imports --------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

.main-sidebar .help-block {
  padding-left: 1.5rem;
  font-size: 0.9em !important;
}

/*-------- Background color & body font --------*/

body, button, input, optgroup, select, textarea {
  font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, .itemTitle {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 1.5pt;
}

h3 {
 color: #CA225E !important;
}

.main-header .logo {
  font-family: 'Lato', sans-serif !important;
  font-size: 1.3em !important;
  font-weight: 100 !important;
  background: #f5f5f5 !important;
  border-right: solid 1pt #d9d9d9 !important;
   color: #CA225E !important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #CA225E !important;
    font-family: 'Lato', sans-serif !important;
}

.main-header .navbar {
   background-color: #ffffff !important;
   font-family: 'Lato', sans-serif !important;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #CA225E !important;
    background: #f5f5f5 !important;
    border-left-color: #f5f5f5 !important;
    font-weight: normal !important;
    font-size: 1.1em !important;
    font-family: 'Lato', sans-serif !important;

}

.skin-blue .sidebar-menu>li>a {
   color: #242022 !important;
    background: #f5f5f5 !important;
    border-left-color: #f5f5f5 !important;
    font-weight: normal !important;
      font-size: 1.1em  !important;
      font-family: 'Lato', sans-serif !important;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
   background: #f5f5f5 !important;
   border-right: solid 1pt #d9d9d9 !important;
   font-family: 'Lato', sans-serif !important;
}

.content-wrapper, .right-side {
    background-color: #ffffff !important;
    font-family: 'Lato', sans-serif !important;
}

.box.box-solid.box-primary>.box-header {
    color: #CA225E !important;
    font-family: 'Lato', sans-serif !important;
    background: #f5f5f5 !important;
    border-color: #CA225E !important;
}

.fa-plus:before, .fa-minus:before {
    color: #CA225E !important;
}

.irs--shiny .irs-bar {
    background: #CA225E !important;
}

.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
    background-color:#CA225E !important;
}

label {
   color: #333 !important;
   font-family: 'Lato', sans-serif !important;
    font-weight: normal !important;
    font-size: 0.95em !important;
}


.box.box-solid.box-primary, .dataTables_wrapper .dataTables_filter input,
.irs--shiny .irs-line, .irs--shiny .irs-bar--single  {
  border: 1px solid #d9d9d9 !important;
}


.skin-blue .main-header .navbar .sidebar-toggle {
    color: #d9d9d9 !important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #CA225E !important;
  color: #ffffff !important;
}

.form-control:focus {
   border-color: #CA225E !important;
}

.noUi-connect {
  background: #CA225E !important;
}

.dataTables_filter input:focus, .dataTables_length select:focus{
  outline: solid 1px #CA225E !important;
}

.dataTables_length select option:hover{
  color:red !important;
}

table.dataTable tr.selected td, table.dataTable td.selected {
    background: #CA225E !important;
}
